Python JSON file management - Market Stock Manager

In [4]:
import json
import pandas as pd

In [ ]:
with open('stock.json', 'r') as file:
    data = json.load(file)
    # Assuming the JSON data is a list of dictionaries

data

In [ ]:
# 1.Print the names of all products
for product in data:
    print(product['name'])

In [ ]:
#2.print the names of all products with a price
for product in data:
    print(f' Product: {product['name']} - Price: {product['price']}')

In [ ]:
#3.print the names of all products with a price and stock above 50
for product in data:
    if product['stock'] >= 50:
        print(f' Product: {product['name']} - Price: {product['price']}, Stock: {product['stock']}')

In [44]:
#4. Add a new field to each item
for product in data:
    if product['stock'] <= 50:
        product["comment"] = "Low Stock"
    else:
        product["comment"] = "High Stock"
df= pd.DataFrame(data)
df.sort_values(by='stock', ascending=False, inplace=True)
df
# print (data)
    
    # Example: Add a "discount" column with a value of 0
    # item["discount"] = 0
    
    # Example: Calculate a value based on existing data
    # item["total_value"] = item["price"] * item["stock"]

# # Save the modified data back to the file
# with open('stock.json', 'w') as file:
#     # The indent parameter makes the output file nicely formatted
#     json.dump(data, file, indent=4)

# print("New column added successfully!")

   id               name   category  price  stock     comment
1   2             Banana      Fruit    0.3    120  High Stock
5   6           Tomatoes  Vegetable    1.0    100  High Stock
3   4            Milk 1L      Dairy    1.5     80  High Stock
8   9             Yogurt      Dairy    0.9     75  High Stock
4   5     Eggs Pack (12)      Dairy    2.2     60  High Stock
0   1        Apple Juice   Beverage    2.5     50   Low Stock
9  10       Orange Juice   Beverage    2.8     45   Low Stock
7   8             Cereal    Grocery    3.0     40   Low Stock
2   3  Whole Wheat Bread     Bakery    1.8     30   Low Stock
6   7     Chicken Breast       Meat    5.5     25   Low Stock

In [ ]:
#5. get product of a categopry
df_category = pd.DataFrame(data)
input_category = input("Enter the category: ")
for product in data:
    if product['category'] == input_category:
        print(f' Product: {product['name']} - Price: {product['price']}, Stock: {product['stock']}')
#the same thing with pandas 
df_category = df[df['category'] == input_category]
df_category

 Product: Milk 1L - Price: 1.5, Stock: 80
 Product: Eggs Pack (12) - Price: 2.2, Stock: 60
 Product: Yogurt - Price: 0.9, Stock: 75

   id            name category  price  stock     comment
3   4         Milk 1L    Dairy    1.5     80  High Stock
8   9          Yogurt    Dairy    0.9     75  High Stock
4   5  Eggs Pack (12)    Dairy    2.2     60  High Stock

In [ ]:
#6. range of price
min_price = int(input("Enter the minimum price: "))
max_price = int(input("Enter the maximum price: "))
price_range = range(min_price, max_price+1)
for product in data:
    if product['price'] >= min_price and product['price'] <= max_price:
        print(f' Product: {product['name']} - Price: {product['price']}, Stock: {product['stock']}')
#the same thing with pandas
df_price_range = df[(df['price'] >= min_price) & (df['price'] <= max_price)]
df_price_range

In [55]:
#7.find_product_by_name(name) 
def find_product_by_name(name) :
    for product in data:
        if product['name'] == name:
            print(f' Product: {product['name']} - Price: {product['price']}, Stock: {product['stock']}')
            return
    print("Not found") 

input_name = input("Enter the name of the product: ")   
find_product_by_name(input_name)

 Product: Yogurt - Price: 0.9, Stock: 75

In [6]:
#8. is uniqe ud
def is_unique_id(product_id):
    for product in data:
        if product['id'] == product_id:
            return False
    return True

product_id = 11
is_unique_id(product_id)

True

In [7]:
#9. add_product
def add_product():
    new_product = {}
    new_product['id'] = int(input("Enter the product ID: "))
    new_product['name'] = input("Enter the product name: ")
    new_product['category'] = input("Enter the product category: ")
    new_product['price'] = float(input("Enter the product price: "))
    new_product['stock'] = int(input("Enter the product stock: "))

    is_unique_id(new_product['id'])
    if new_product['price'] <= 0:
        print("Price cannot be negative")
        return
    if new_product['stock'] < 0:
        print("Stock cannot be negative")
        return
    data.append(new_product)
    with open ('stock.json', 'w') as file:
        json.dump(data, file, indent=4)
    return  
    
add_product()

In [8]:
#10.update_stock(product_id, new_stock) 
def update_stock(product_id, new_stock):
    for product in data:
        if product['id'] == product_id:
            product['stock'] = new_stock
    
    with open('stock.json' , 'w') as file:
        json.dump(data, file, indent=4)
    print("Product not found")

product_id = 1
new_stock = 100
update_stock(product_id, new_stock)

Product not found